<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/html">
<head>

    <title>Home | MCQS - Multiple Choice Question System</title>
    <div th:replace="fragments/header.html :: headerCSS" th:remove="tag"> Header CSS</div>
</head>

<body>
<!-- Start Left menu area -->
<div th:replace="fragments/leftMenu.html ::  leftMenu" th:remove="tag">  Left Menu </div>
<!-- End Left menu area -->

<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="fragments/header.html :: header" th:remove="tag"> Header</div>

    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="profile-info-inner">
                        <div class="profile-img">
                            <img th:src="@{'/img/profile/'+${user.getId()}+'.jpg?'+${time}}"  alt="Profile Picture" style="height: 250px; width: 350px; object-fit: contain" id="profilePic"/>
<!--                            <img th:src="${base64Image}"  alt="" style='height: 250px; width: 350px; object-fit: contain' id="profilePic"/>-->
                        </div>
                        <div class="profile-details-hr">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>Name</b><br />  <span class="admin-name" th:text="${user.getFullName()}"  th:remove="tag" ></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Registered As</b><br /><span th:text="${role}"  th:remove="tag" ></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>Email ID</b><br /> <span th:text="${user.getEmail()}"  th:remove="tag" ></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Phone</b><br /> <!--/*@thymesVar id="user" type=""*/-->
                                        <!--/*@thymesVar id="getPhone" type=""*/-->
                                        <span th:text="${user.getPhone()}"  th:remove="tag" ></span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="address-hr">
                                        <p><b>Address</b><br /> E104, catn-2, Chandlodia Ahmedabad Gujarat, UK.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="address-hr">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <h3>500</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="address-hr">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <h3>900</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="address-hr">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <h3>600</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                 <div class="alert alert-danger" th:if="${errorMessage != null}" >
                    <!--/*@thymesVar id="errorMessage" type=""*/-->
                    <div th:text="${errorMessage}" th:remove="tag"></div>
                    <!--            <div th:if="${param.error}">-->
                    <!--                    Invalid username and password.-->
                    <!--                    <span th:text="'Hello, ' + ${error}"></span>-->
                    <!--                </div>-->
                </div>
                <div th:if="${message != null}">
                    <div class="alert alert-info" >
                        <!--/*@thymesVar id="message" type=""*/-->
                        <div th:text="${message}" th:remove="tag"></div>

                        <br>
                        Profile Picture Will Shown Effect After ReLogin.
                        <br>
                        <a th:href="@{/}"> <i> Click here to <b>Homepage</b></i> </a>
                    </div>
                </div>


                    <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                        <ul id="myTabedu1" class="tab-review-design">
<!--                            <li><a href="#description">USER DETAILS</a></li>-->
<!--                           &lt;!&ndash; <li><a href="#reviews"> Biography</a></li>&ndash;&gt;-->
                           <li class="active" th:if="${session.currentUser.getId() == user.getId()}" ><a href="#INFORMATION">UPDATE DETAILS</a></li>
                       </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
<!--                            <div class="product-tab-list tab-pane fade active in" id="description">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                                        <div class="review-content-section">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--                                                    <div class="address-hr biography">-->
<!--                                                        <p><b>Full Name</b><br /> <span class="admin-name" th:text="${user.getFullName()}"  th:remove="tag" ></span> </p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--                                                    <div class="address-hr biography">-->
<!--                                                        <p><b>Mobile</b><br />  <span th:text="${user.getPhone()}"  th:remove="tag" ></span> </p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--                                                    <div class="address-hr biography">-->
<!--                                                        <p><b>Email</b><br /> <span th:text="${user.getEmail()}"  th:remove="tag" ></span></p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--                                                    <div class="address-hr biography">-->
<!--                                                        <p><b>Department</b><br /> CSE</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="content-profile">-->
<!--                                                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras-->
<!--                                                            dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
<!--                                                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras-->
<!--                                                            dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
<!--                                                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras-->
<!--                                                            dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row mg-b-15">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-12">-->
<!--                                                            <div class="skill-title">-->
<!--                                                                <h2>Skill Set</h2>-->
<!--                                                                <hr />-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="progress-skill">-->
<!--                                                        <h2>Java</h2>-->
<!--                                                        <div class="progress progress-mini">-->
<!--                                                            <div style="width: 90%;" class="progress-bar progress-yellow"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="progress-skill">-->
<!--                                                        <h2>Php</h2>-->
<!--                                                        <div class="progress progress-mini">-->
<!--                                                            <div style="width: 80%;" class="progress-bar progress-green"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="progress-skill">-->
<!--                                                        <h2>Apps</h2>-->
<!--                                                        <div class="progress progress-mini">-->
<!--                                                            <div style="width: 70%;" class="progress-bar progress-blue"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="progress-skill">-->
<!--                                                        <h2>C#</h2>-->
<!--                                                        <div class="progress progress-mini">-->
<!--                                                            <div style="width: 60%;" class="progress-bar progress-red"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row mg-b-15">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-12">-->
<!--                                                            <div class="skill-title">-->
<!--                                                                <h2>Education</h2>-->
<!--                                                                <hr />-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="ex-pro">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row mg-b-15">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-12">-->
<!--                                                            <div class="skill-title">-->
<!--                                                                <h2>Experience</h2>-->
<!--                                                                <hr />-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="ex-pro">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-12">-->
<!--                                                            <div class="skill-title">-->
<!--                                                                <h2>Subjects</h2>-->
<!--                                                                <hr />-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="ex-pro">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                          <!--  <div class="product-tab-list tab-pane fade" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="chat-discussion" style="height: auto">
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/1.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Michael Smith </a>
                                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
															</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/2.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Karl Jordan </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
																	</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/3.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Michael Smith </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
																	</span>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/4.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Alice Jordan </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
																		It uses a dictionary of over 200 Latin words.
																	</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/1.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Mark Smith </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
																		It uses a dictionary of over 200 Latin words.
																	</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/2.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Karl Jordan </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
																	</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/3.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Michael Smith </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
																	</span>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img class="message-avatar" src="img/contact/4.jpg" alt="">
                                                    </div>
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Alice Jordan </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
																	All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
																		It uses a dictionary of over 200 Latin words.
																	</span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                            <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!--          Update Details -->
                            <div class="" id="INFORMATION">
                                <div class="row">
                                    <form   method="post" th:action="@{/userUpdate}" th:object="${user}"  enctype="multipart/form-data">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="hidden" class="form-control" th:name="${'id'}" th:value="${user.getId()}" />
                                                        <label>FULL NAME</label>
                                                        <input th:name="${'fullName'}"  type="text" class="form-control" th:value="${user.getFullName()}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label> MOBILE NO. </label>
                                                        <input th:name="${'phone'}"  type="text" class="form-control"  th:value="${user.getPhone()}">
                                                    </div>

                                                    <!--<div class="form-group">
                                                        <label>First Name</label>
                                                        <input type="text" class="form-control" placeholder="Last Name">
                                                    </div>-->

<!--                                                    <div class="form-group">-->
<!--                                                        <input type="text" class="form-control" placeholder="Date of Birth">-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <input type="text" class="form-control" placeholder="Department">-->
<!--                                                    </div>-->
                                                   <div class="form-group">
                                                       <label> UPLOAD/REPLACE IMAGE </label>
                                                       <div class="file-upload-inner ts-forms">

                                                           <div class="input prepend-big-btn">
                                                               <label class="icon-right" for="prepend-big-btn">
                                                                   <i class="fa fa-download"></i>
                                                               </label>
                                                               <div class="file-button">
                                                                   Browse
                                                                   <input type="file" id="selectImage"  th:name="${'file'}"  onchange="showImage(this); document.getElementById('prepend-big-btn').value = this.value;">
                                                               </div>
                                                               <div class="col-lg-10  pull-right">
                                                                 <input type="text" id="prepend-big-btn" placeholder="no file selected">
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                                    </div>


                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label> USERNAME </label>
                                                        <input type="text" class="form-control" disabled th:value="${user.getUsername()}">
                                                    </div>
                                                    <div class="form-group sm-res-mg-15 tbpf-res-mg-15">
                                                        <label> EMAIL </label>
                                                        <input type="email" class="form-control" th:value="${user.getEmail()}" th:name="${'email'}" >
                                                    </div>
                                                    <div class="form-group sm-res-mg-15 tbpf-res-mg-15">
                                                        <label> REGISTERED AS </label>
                                                        <input type="role" class="form-control" disabled th:value="${role}">
                                                    </div>
<!--                                                    <div class="form-group">-->
<!--                                                        <label> GENDER </label>-->
<!--                                                        <select class="form-control">-->
<!--                                                            <option>Select Gender</option>-->
<!--                                                            <option>Male</option>-->
<!--                                                            <option>Female</option>-->
<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <select class="form-control">-->
<!--                                                            <option>Select country</option>-->
<!--                                                            <option>India</option>-->
<!--                                                            <option>Pakistan</option>-->
<!--                                                            <option>Amerika</option>-->
<!--                                                            <option>China</option>-->
<!--                                                            <option>Dubai</option>-->
<!--                                                            <option>Nepal</option>-->
<!--                                                        </select>-->
<!--                                                    </div>-->
                                                   <!-- <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Select state</option>
                                                            <option>Gujarat</option>
                                                            <option>Maharastra</option>
                                                            <option>Rajastan</option>
                                                            <option>Maharastra</option>
                                                            <option>Rajastan</option>
                                                            <option>Gujarat</option>
                                                        </select>
                                                    </div>-->
                                                 <!--   <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Select city</option>
                                                            <option>Surat</option>
                                                            <option>Baroda</option>
                                                            <option>Navsari</option>
                                                            <option>Baroda</option>
                                                            <option>Surat</option>
                                                        </select>
                                                    </div>-->
                                                    <!--<div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Website URL">
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress mg-t-15">
                                                        <button type="submit" class="btn btn-primary waves-effect waves-light mg-b-15 pull-left">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div> </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments/footer.html :: footer" th:remove="tag"> Scripts</div>
</div>

<div th:replace="fragments/footer.html :: scriptMain" th:remove="tag"> Scripts</div>
<div th:replace="fragments/footer.html :: scriptDataTable" th:remove="tag"> Scripts</div>

<script>

    function showImage(src,target) {

        var fr=new FileReader();
// when image is loaded, set the src of the image where you want to display it
        fr.onload = function(e) { target.src = this.result; };
        src.addEventListener("change",function() {
// fill fr with image data
            fr.readAsDataURL(src.files[0]);
        });
    }

    var src = document.getElementById("selectImage");
    var target = document.getElementById("profilePic");
    showImage(src,target);
</script>

</body>

</html>