<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->

<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--</head>-->

<!--<body>-->


<!--<div th:fragment="scriptMain">-->
<!--    &lt;!&ndash; jquery-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>-->
<!--    &lt;!&ndash; bootstrap JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--    &lt;!&ndash; wow JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/wow.min.js}"></script>-->
<!--    &lt;!&ndash; price-slider JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/jquery-price-slider.js}"></script>-->
<!--    &lt;!&ndash; meanmenu JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/jquery.meanmenu.js}"></script>-->
<!--    &lt;!&ndash; owl.carousel JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/owl.carousel.min.js}"></script>-->
<!--    &lt;!&ndash; sticky JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/jquery.sticky.js}"></script>-->
<!--    &lt;!&ndash; scrollUp JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>-->
<!--    &lt;!&ndash; counterup JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>-->
<!--    <script th:src="@{/js/counterup/waypoints.min.js}"></script>-->
<!--    <script th:src="@{/js/counterup/counterup-active.js}"></script>-->
<!--    &lt;!&ndash; mCustomScrollbar JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>-->
<!--    <script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>-->
<!--    &lt;!&ndash; metisMenu JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>-->
<!--    <script th:src="@{/js/metisMenu/metisMenu-active.js}"></script>-->
<!--    &lt;!&ndash; morrisjs JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/morrisjs/raphael-min.js}"></script>-->
<!--    <script th:src="@{/js/morrisjs/morris.js}"></script>-->
<!--    <script th:src="@{/js/morrisjs/morris-active.js}"></script>-->
<!--    &lt;!&ndash; morrisjs JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>-->
<!--    <script th:src="@{/js/sparkline/jquery.charts-sparkline.js}"></script>-->
<!--    <script th:src="@{/js/sparkline/sparkline-active.js}"></script>-->
<!--    &lt;!&ndash; calendar JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/calendar/moment.min.js}"></script>-->
<!--    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>-->
<!--    <script th:src="@{/js/calendar/fullcalendar-active.js}"></script>-->
<!--    &lt;!&ndash; plugins JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/plugins.js}"></script>-->
<!--    &lt;!&ndash; main JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/main.js}"></script>-->
<!--    &lt;!&ndash; tawk chat JS-->
<!--        ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/tawk-chat.js}"></script>-->
<!--</div>-->

<!--<div th:fragment="scriptDataTable">-->
<!--    &lt;!&ndash; data table JS-->
<!--    ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/data-table/bootstrap-table.js}"></script>-->
<!--    <script th:src="@{/js/data-table/tableExport.js}"></script>-->
<!--    <script th:src="@{/js/data-table/data-table-active.js}"></script>-->
<!--    <script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>-->
<!--    <script th:src="@{/js/data-table/bootstrap-editable.js}"></script>-->
<!--    <script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>-->
<!--    <script th:src="@{/s/data-table/colResizable-1.5.source.js}"></script>-->
<!--    <script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>-->
<!--    &lt;!&ndash;  editable JS-->
<!--       ============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/editable/jquery.mockjax.js}"></script>-->
<!--    <script th:src="@{/js/editable/mock-active.js}"></script>-->
<!--    <script th:src="@{/js/editable/select2.js}"></script>-->
<!--    <script th:src="@{/js/editable/moment.min.js}"></script>-->
<!--    <script th:src="@{/js/editable/bootstrap-datetimepicker.js}"></script>-->
<!--    <script th:src="@{/js/editable/bootstrap-editable.js}"></script>-->
<!--    <script th:src="@{/js/editable/xediable-active.js}"></script>-->
<!--    &lt;!&ndash; Chart JS-->
<!--		============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/chart/jquery.peity.min.js}"></script>-->
<!--    <script th:src="@{/js/peity/peity-active.js}"></script>-->
<!--    &lt;!&ndash; tab JS-->
<!--		============================================ &ndash;&gt;-->
<!--    <script th:src="@{/js/tab.js}"></script>-->
<!--</div>-->


<!--</body>-->

<!--</html>-->